@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.fix-gutters > [class^="col-"], .fix-gutters > [class*=" col-"], .fix-gutters > [class*="col"], .fix-gutters > [class*=" col"], .footer, .row {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px; }

* {
  font-family: 'Lato', sans-serif; }

.row {
  padding: 15px; }
  .row img {
    width: 100%; }

section.networks img {
  width: 20px; }

.menu a {
  text-decoration: none;
  color: black; }

span {
  width: inherit; }

.page hr, p.text, p.text-right {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 0rem; }

.footer {
  background: #f4f4f4;
  text-align: center; }
  .footer h6 {
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px; }
  .footer a {
    text-decoration: none;
    color: black; }
  .footer #center {
    background: #f9f9f9; }

/*# sourceMappingURL=main.css.map */
