$green: #3ace62;
$padding: 15px;
$image-size: 100%;
$image-networks: 20px;
$grid-gutter-width: 10px !default;
$footer-background: #f4f4f4;
$center-background: #f9f9f9;

.fix-gutters > [class^="col-"], .fix-gutters > [class*=" col-"], .fix-gutters > [class*="col"], .fix-gutters > [class*=" col"], .footer, .row{
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

*{
	font-family: 'Lato', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.row{
	padding: $padding;
	img{
		width: $image-size;
	}
}
section.networks{
	img{
		width: $image-networks;
	}
}
.menu{
	a{
		text-decoration: none;
		color: black;
	}
}
span{
	width: inherit;
}
.page hr, p.text, p.text-right{
	margin-top: 0rem;
	margin-bottom: 0rem;
	padding: 0rem;
}
.footer{
	background: $footer-background;
	text-align: center;
	h6{
		text-align: center;
		font-weight: 800;
		letter-spacing: 2px;		
	}
	a{
		text-decoration: none;
		color: black;
	}
	#center{
		background: $center-background;
	}
}
